<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>Очень хороший интернет магазин</h1>
    <ul>
      {% for category in categorys %}
        <li>{{ category.main }}</li>
        {% for sub_category in category.sub %}
          <p>{{ sub_category }}</p>
        {% endfor %}
      {% endfor %}
    </ul>
    {% if product %}
      <h2>{{ product.get('name') }} - {{ product.get('cost', 'не задана') }} руб.</h2>
      {% for category_parameters, parameters in product.get('parameters') %}
        <h3>{{ category_parameters }}</h3>
        <ul>
          {% for parameter, value in parameters.items() %}
            <li>{{ parameter }} - {{ value }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% else %}
      <h2>Запрошеный товар не найден</h2>
    {% endif %}
  </body>
</html>
