{% extends "base.html" %}

{% block content %}
  <h1>Очень хороший интернет магазин</h1>
  {% if product %}
    <a href="/main_category/{{ main_category_product.id }}/">{{ main_category_product.name }}</a> - <a href="/category/{{ category_product.id }}/">{{ category_product.name }}</a>
    <h2>{{ product.name }} - {{ product.cost }} руб.</h2>

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Описание</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Характеристики</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Цены</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Карта</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Отзывы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Обзоры</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Обсуждения</a>
      </li>
    </ul>

    {% for image_product in images_product %}
      <p><img src="{{ url_for('static', filename=image_product) }}" height="255"></p>
    {% endfor %}

    {% for category_parameters, parameters in product.get('parameters') %}
      <h3>{{ category_parameters }}</h3>
      <ul>
        {% for parameter, value in parameters[0].items() %}
          <li>{{ parameter }} - {{ value }}</li>
        {% endfor %}
        {% for parameter, value in parameters[1].items() %}
          <li>{{ parameter }} - {{ value }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  {% else %}
    <h2>Запрошеный товар не найден</h2>
  {% endif %}
{% endblock %}
