<div role="tabpanel" class="tab-pane fade active show" id="description" aria-labelledby="description-tab" aria-expanded="true">
  <div class="row">
    <div class="col-1">
      {% if images_product %}
        {% for image_product in images_product %}
          <p><img src="{{ url_for('static', filename=image_product) }}" height="100"></p>
        {% endfor %}
      {% endif %}
    </div>
    <div class="col-2">
      {% if images_product %}
        <p><img src="{{ url_for('static', filename=images_product[0]) }}" height="400"></p>
      {% endif %}
    </div>
    <div class="col-9">
      <h3>Коротко о товаре</h3>
      <ul>
        {% for  parameter, value in main_parameters.items() %}
          <li>{{ parameter }} - {{ value }}</li>
        {% endfor %}
      </ul>
      <p>{{ product.description }}</p>
    </div>
  </div>
</div>
