<div class="tab-pane fade" id="parameter" role="tabpanel" aria-labelledby="parameter-tab" aria-expanded="false">
  <div class="row">
    <div class="col-2">
      {% if images_product %}
        <p><img src="{{ url_for('static', filename=images_product[0]) }}" height="400"></p>
      {% endif %}
    </div>
    <div class="col-10">
      <h2>Характеристики</h2>
      {% for category_parameters, parameters in product.sorted_parameters() %}
        <h3>{{ category_parameters }}</h3>
        <ul>
          {% for parameter, value in parameters[0].items() %}
            <li>{{ parameter }} - {{ value }}</li>
          {% endfor %}
          {% for parameter, value in parameters[1].items() %}
            <li>{{ parameter }} - {{ value }}</li>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
