<ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="home" aria-expanded="true">Описание</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="parameter-tab" data-toggle="tab" href="#parameter" role="tab" aria-controls="profile" aria-expanded="false">Характеристики</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="costs-tab" data-toggle="tab" href="#costs" role="tab" aria-controls="profile" aria-expanded="false">Цены</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="feedback-tab" data-toggle="tab" href="#feedback" role="tab" aria-controls="profile" aria-expanded="false">Отзывы {{ feedbacks|length }}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="profile" aria-expanded="false">Обзоры</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="discussion-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="profile" aria-expanded="false">Обсуждения</a>
  </li>
</ul>
