<!DOCTYPE html>
<html lang="ru">
<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

  <title>{% block title %}Крутой интернет магазин{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="container-fluid">
    <h1>Очень хороший интернет магазин</h1>
    <div class="row">
      <div class="col-8">
        <form>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Маркет</span>
              </div>
              <input type="text" class="form-control" id="inputSearch" placeholder="введите поисковый запрос">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Найти</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col-4 d-flex">
        <div class="row">
          <div class="col">
            <a href="#" class="align-text-top">Город</a>
          </div>
          <div class="col">
            <a href="#" class="align-text-top">Отложенные</a>
          </div>
          <div class="col">
            <a href="#" class="align-text-top">Сравнение</a>
          </div>
          <div class="col">
            <a href="#" class="align-text-top">Корзина</a>
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          {% for category in categorys %}
            {% if main_category_product %}
              {% if main_category_product.id == category.main.id %}
              <li class="nav-item dropdown active">
              {% else %}
              <li class="nav-item dropdown">
              {% endif %}
            {% else %}
              <li class="nav-item dropdown">
            {% endif %}
              <a class="nav-link dropdown-toggle" href="/main_category/{{ category.main }}/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ category.main.name }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for sub_category in category.sub %}
                  {% if category_product %}
                    {% if category_product.id == sub_category.id %}
                      <a class="dropdown-item active" href="/category/{{ sub_category.id }}/">{{ sub_category.name }}</a>
                    {% else %}
                      <a class="dropdown-item" href="/category/{{ sub_category.id }}/">{{ sub_category.name }}</a>
                    {% endif %}
                  {% else %}
                    <a class="dropdown-item" href="/category/{{ sub_category.id }}/">{{ sub_category.name }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    </nav>

    <div id="content" class="container-fluid">{% block content %}{% endblock %}</div>
    <div id="footer" class="container-fluid">
      {% block footer %}
      &copy; Copyright 2018 by D.Vologdin</a>.
      {% endblock %}
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
